.heading__button {
    border: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    width: 200px;
    height: 50px;
    text-align: center;
    margin: 0 auto;
    border-radius: 4px;
    margin-top: 30px;
    font-weight: 700;
    letter-spacing: 0.06em;
    background-color: var(--brand-color);
    color: var(--white);
    cursor: pointer;
   

    &:hover,
    &:focus {
        transition: 250ms var(--cubic-bezier);
    }
}

.heading {
    background-color: var(--gray);
    color: var(--white);
    height: 600px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    align-content: center;
    padding: 200px 0;
    background-image: linear-gradient(rgb(47, 48, 58, 0.6), rgb(47, 48, 58, 0.6)), url('../../images/Header-sm@1x.jpg');
    background-size: cover;

 
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        width: 100%;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url('../../images/Header-sm@2x.jpg');
    }

    @media screen and (min-width: 768px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../../images/Header-md@1x.jpg');
        width: 100%;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../../images/Header-md@2x.jpg');
            width: 100%;
        }

    }

    @media screen and (min-width: 1200px) {
        width: 100%;
        margin: 0 auto;
        padding: 200px 0;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url('../../images/header-lg@1x.jpg');

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url('../../images/header-lg@2x.jpg');
            width: 100%;
        }
    }

    @media screen and (max-width: 479px) {
        width: 100%;
        height: auto;
    }

    

   &__title {
       font-weight: 900;
       font-size: 26px;
       line-height: 1.6;
       letter-spacing: 0.06em;
       align-items: center;
       margin: 0 auto;
       max-width: 365px;

       // height: 84px;

       @media screen and (min-width: 768px) {
           font-weight: 900;
           font-size: 26px;
           line-height: 1.6;
           letter-spacing: 0.06em;
           align-items: center;
           margin: 0 auto;
           max-width: 420px;
           // height: 84px;
       }

       @media screen and (min-width: 1200px) {
           font-weight: 900;
           font-size: 44px;
           line-height: 1.36;
           letter-spacing: 0.06em;
           align-items: center;
           margin: 0 auto;
           min-width: 696px;
           height: 120px;
       }

       @media screen and (max-width: 479px) {
        font-size: 20px;
       }

   }
}