.section__clients {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    fill: #afb1b8;
    justify-content: center;

    @media screen and (min-width: 768px) {
        width: 768px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

       @media screen and (min-width: 1200px) {
            display: flex;
            flex-wrap: nowrap;
       }
    }

.section__clients--box {
    align-content: center;
    justify-content: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    padding: 16px 32px;
    color: #afb1b8;

    &:hover {
        fill: var(--brand-color);
        cursor: pointer;
        border-color: var(--brand-color);
        transition: 250ms var(--cubic-bezier);
    }
}

.section__clients--icon {
    width: 106px;
    height: 60px;
    align-items: center;
    align-content: center;
    justify-self: center;
    color: #afb1b8
}

