.header {
    background-color: var(--white);
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 80px;
    border-bottom: 0.5px solid #ebe9e9;

    &__logo {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        text-decoration: none;
       
        height: 31px;

        @media screen and (min-width: 1200px) {
            width: 145px;
        }
    }

    &__logo--front {
        color: var(--brand-color);
    }

    &__logo--end {
        color: var(--black);
    }

    &__link {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.1;
        text-decoration: none;
        color: var(--black);
        letter-spacing: 0.02em;
        position: relative;

        &:hover,
        &:focus {
            color: var(--brand-color);
            transition: 250ms var(--cubic-bezier);
        }

        &:hover::after {
            content: "";
            position: absolute;
            width: 110%;
            height: 4px;
            background-color: var(--brand-color);
            display: block;
            transform: translateY(27px);
            border-radius: 2px;
        }
    }

    &__contact--style {
        color: var(--light-gray);
        text-decoration: none;
        font-size: 14px;
        line-height: 1.1;
        fill: var(--light-gray);

        &:hover,
        &:focus {
            color: var(--brand-color);
            transition: 250ms var(--cubic-bezier);
        }

        &::before {
            margin-right: 10px;
            content: '';
        }

        &:hover::before {
            fill: var(--brand-color);
            transition: 250ms var(--cubic-bezier);
        }
    }

    &__container {
       
        box-sizing: border-box;
        justify-content: space-between;
        align-items: center;
        display: flex;
    
        @media screen and (max-width: 787px) {
    margin-left: 0;
}
        @media screen and (min-width: 768px){
            width: 768px;
        }

        @media screen and (min-width: 1200px){
            width: 1170px;
        }
    }

    &__container--logo-and-nav {
        justify-content: flex-start;
        display: flex;
        gap: 93px;
        align-items: center;
    }

    &__nav {
        // justify-content: space-between;
        // align-items: center;
        // width: 254px;
        // height: 16px;
        // margin-left: 0 auto;
        display: none;

        @media screen and (min-width: 768px) {
            // justify-content: space-between;
            // align-items: center;
            // width: 254px;
            // height: 16px;
            // margin-left: 0 auto;
        display: flex;
        gap: 30px;
        }
    }

    &__contact {
        justify-content: space-between;
        align-items: center;
        // height: 16px;
        display: flex;
        font-weight: bold;

        @media screen and (max-width: 767px) {
            display: none;
        }
        
        
        @media screen and (min-width: 768px) {
            flex-wrap: wrap;
            margin-left: 101px;
            list-style: none;
                display: flex;
                padding: 0px;
                
                // gap: 30px;
        }

        @media screen and (min-width: 1200px) {
            gap: 30px;
        }
    }

    &__contact--phone {
        @media screen and (min-width: 768px){
        margin-top: 10px;
        font-size: 12px;
    }

    @media screen and (min-width: 1200px) {
        margin-top: 0;
    }
}
}


.header__contact--email:hover,
.header__contact--phone:hover {
    fill: var(--brand-color);
}


