.paragraph__heading {
    font-weight: 700;
    font-size: 14px;
    color: var(--black);
    line-height: 1.1;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    margin-top: 0px;
}

.paragraph__descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--light-gray);
    margin: 0;
}