body {
    color: var(--primal-text);
    font-family: Roboto, sans-serif;
}

// img {
//     display: block;
// }

.section__container {
    width: 100%;
    // box-sizing: border-box;
    // margin: 0 auto;
    
    align-items: center;
    // padding: 0px 15px;

    @media screen and (min-width: 768px) {
        width: 100%;
        }
    
    @media screen and (min-width: 1200px) {
        width: 1170px;
        }
}

.container {
    // width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;

    @media screen and (min-width: 1200px) {
        padding: 0;
    }
   
}

.section__menu {
    list-style: none;
    display: flex;
    padding: 0px;
    margin: 0px;
    gap: 30px;
}

.section {
    padding: 94px 0;
    // max-width: 1200px;
}

.team__section {
    background-color: #F5F4FA;
    padding: 94px 0;
}

.list {
    list-style: none;
    display: flex;
    padding: 0px;
    margin: 0px;
    gap: 30px;
}

.section__heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
}




