:root {
    --brand-color: #2196F3;
    --black: #212121;
    --white: #FFFFFF;
    --gray: #2F303A;
    --color: black;
    --light-gray: #757575;
    --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
    
    --mobile: 480px;
    --tablet: 768px;
    --laptop: 1200px;
}